<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="myModalLabel">New Registered Subject</h4>
</div>


<div class = 'modal-body'>
  <%= select_tag 'subject', options_from_collection_for_select(@subjects, 'id', 'course_name'), :onchange => "changeOptions()", class: 'form-control' %>

<%= simple_form_for @registration do |f| %>
  <%= f.input :section_id, collection: {}, label: 'Section', include_blank: false %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <% if current_user.has_role?('teacher') %>
  <%= f.input :grade, label: 'Grade' %>
  <% end %>
</div>

<div class = 'modal-footer'>
  <%= f.button :submit, class: 'btn btn-primary' %>
  <%= link_to "Back", :back, class: 'btn btn-default'%>
</div>
<% end %>

<script>

  function change_select(data) {
    $('#registration_section_id').empty()
    $.each(data, function(i, section){
        var option = new Option(section[0], section[1]); 
        $('#registration_section_id').append(option);
    });
  };
  
  function changeOptions() {
    var option = $( "#subject option:selected" ).val();
    $.ajax({
        url: "/registrations/section_list/" + option,
        type: 'post',
    }).done(function (data) {
        change_select(data);
    });
  }
  
  $( document ).ready( changeOptions );
</script>