<% if can? :create, Registration %>
<%= link_to 'Add Registered Subject', new_registration_path, class: 'btn btn-primary'%>
<% end %>
<% if !@registrations.blank? %>

<table class = 'table table-responsive table-striped'>
  <thead>
    <th>Course Name</th>
    <th>Section</th>
    <th>Grade</th>
    <% if can?(:update, Registration) && can?(:destroy, Registration)%>
    <th colspan = '2'>Actions</th>
    <% end %>
  </thead>

  <% @registrations.each do |register|%>
  <tr>
    <td><%= register.section.subject.course_name %></td>
    <td><%= register.section.name %></td>
    <td><%= register.grade.blank? ? "Unavailable" : register.grade %></td>
    <% if can? :create, Registration %>
    <td><%= link_to 'Edit', edit_registration_path(register.id, register.section.subject_id), class: 'btn btn-default'%>
    <% end %>
    <% if can? :create, Registration %>
    <%= link_to 'Delete', registration_path(register.id), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure?"}%>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>
<% else %>
No Registered Subjects Yet.
<% end %>
